@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .timer {
  margin-top: 10px;

  height: 366px;
  width: 366px;

  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);

  border-radius: 50%;

  position: relative;
}

.countdown {
  fill: none;
  stroke: #0ea5e9;
  stroke-width: 10;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  stroke-linecap: round;
  stroke-opacity: 1;
  transition: stroke-dashoffset 0.2s ease;
}

.countdownText {
  font-size: 4rem;
  fill: #0ea5e9;
  display: inline-block;
  transform: translateY(1rem);
}

}